/* DESKTOP STYLES (para min-width: 1024px) */
@media (min-width: 1024px) {
  .menu {
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 60px;
  }

  .logo img {
    height: 70px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .menu-list {
    flex-direction: row;
    gap: 20px;
  }

  .menu-list li a {
    font-size: 20px;
    padding: 0 15px;
  }

  .separator {
    font-size: 30px;
    padding: 0 5px;
  }

  .conteudoini{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 60px;
    gap: 40px;
  }

  .imagem-box {
    flex: 1;
    padding: 20px;
    text-align: right;
  }

  .imagem-box img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
  }

  .texto-box {
    flex: 2;
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
  }


  .caixa{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 50px;
    gap: 40px;
  }

  .intro-image{
    flex:1;
    display: flex;
    justify-content: center;
  }

  .intro-image img{
    width: 100%;
    max-width: 400px;
  }

  .intro-text{
    flex:2;
    text-align: left;
    font-size: medium;
    padding: 0;
  }

  .produtos {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .produto {
    width: 250px;
  }

  .modal-conteudo {
    margin: 10% auto;
  }
}

